@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  margin-top:69px;
  padding: 0px;
  font-size: 20px;
  
}
h1{
  line-height: 2;
  font-family: "Inter-Regular", Helvetica, sans-serif;
}

p{
  line-height: 2;
  font-family: "Inter-Regular", Helvetica, sans-serif;


}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.white{
  color: #fff;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");


