.nav-text-2,
.nav-text-4,
.nav-text,
.home-wrapper,
.div-wrapper,
.nav-text-login,
.logo,
.main-btn,
.main-btn-2,
.text-wrapper-9,
.two-btn,
.join{
    cursor: pointer;
}


.nav-text-2:hover,
.nav-text-4:hover,
.nav-text:hover,
.home-wrapper:hover,
.div-wrapper:hover{
    .text-wrapper-2,
    .home-3,
    .home,
    .text-wrapper,
    .home-2{
    color: #60695D;
    }
}

.nav-text-login:hover{
    .text-wrapper-3{
        color: #5F695E;
    }
}

.index .main-btn,
.index .main-btn-2{
    transition: background-color 0.5s; 
}

.main-btn:hover,
.main-btn-2:hover{
    background-color: #5F695E;
}

.index .text-wrapper-9:hover{
    color: #A3ADA2;
}

.index .two-btn{
    transition: background-color 0.5s; 

}

.index .two-btn:hover {
    background-color: #5F695E;
    .text-wrapper-10{
        color: #ffffff;
    }
}

.index .join{
    transition: background-color 0.5s; 
}

.index .join:hover{
    background-color: #5F695E;
}


.index .input-email {
    transition: background-color 0.5s; 
  }

.index .input-email:hover {
    background-color: #667163; 
}

.index .input-email input:focus {
    outline: 1px solid #ffffff;
}

/* 针对菜单项的悬停效果 */
.order_item:hover {
  border: 2px solid #purple; /* 这里应用一个紫色边框，您可以选择合适的颜色 */
  cursor: pointer; /* 显示指针，表示该项目是可点击的 */
}

/* 针对下拉菜单的悬停效果 */
.all_day_slide:hover, .nav_food:hover {
  background-color: #f0f0f0; /* 悬停时的背景颜色 */
}

/* 针对购物车按钮的悬停效果 */
.cart:hover {
  background-color: #dcdcdc; /* 更改背景颜色 */
}

/* 针对取货按钮的悬停效果 */
.pickup:hover {
  text-decoration: underline; /* 添加下划线来表示可交互性 */
}

/* 针对更改按钮的悬停效果 */
.change:hover {
  color: #ff0000; /* 更改文字颜色 */
}

