.nav-text-2,
.nav-text-4,
.nav-text,
.home-wrapper,
.div-wrapper,
.nav-text-login,
.logo,
.main-btn,
.main-btn-2,
.text-wrapper-9,
.two-btn,
.join{
    cursor: pointer;
}


.nav-text-2:hover,
.nav-text-4:hover,
.nav-text:hover,
.home-wrapper:hover,
.div-wrapper:hover{
    .text-wrapper-2,
    .home-3,
    .home,
    .text-wrapper,
    .home-2{
    color: #60695D;
    }
}

/* .text-wrapper-2:hover,
.home-3:hover,
.home:hover,
.text-wrapper:hover,
.home-2:hover{
    color: #60695D;
} */


.nav-text-login:hover{
    .text-wrapper-3{
        color: #5F695E;
    }
}

.index .main-btn,
.index .main-btn-2{
    transition: background-color 0.5s; 
}

.main-btn:hover,
.main-btn-2:hover{
    background-color: #5F695E;
}

.index .text-wrapper-9:hover{
    color: #A3ADA2;
}

.index .two-btn{
    transition: background-color 0.5s; 

}

.index .two-btn:hover {
    background-color: #5F695E;
    .text-wrapper-10{
        color: #ffffff;
    }
}

.index .join{
    transition: background-color 0.5s; 
}

.index .join:hover{
    background-color: #5F695E;
}


.index .input-email {
    transition: background-color 0.5s; 
  }

.index .input-email:hover {
    background-color: #667163; 
}

.index .input-email input:focus {
    outline: 1px solid #ffffff;
}


